.Block {
  position: absolute;
  width: 25px;
  height: 25px;
  &.Round {
    border-radius: 25px;
  }
  &.Factory {
    display: none;
  }
}

.Target {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: -25px;
    right: -25px;
    border-radius: 50px;
  }

  &.Aim {
    cursor: crosshair;
    &::after {
      outline: 4px solid cyan;
      opacity: 0.84;
    }
  }
}
