.Block {
  position: absolute;
  width: 25px;
  height: 25px;

  &.Round {
    border-radius: 25px;
    animation: spin 2s infinite linear;
    &.left {
      animation-direction: reverse;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
