.Duck {
  color: white;

  &.left {
    background-color: navy;
    outline: 4px double purple;
  }

  &.right {
    background-color: darkgreen;
    outline: 4px double darkgreen;
  }

  &::before {
    content: "( )";
    position: absolute;
    font-size: larger;
    font-weight: bold;
    top: 6px;
    left: -15px;
    width: 100px;
    pointer-events: none;
  }
  &.left::before {
    color: purple;
  }
  &.right::before {
    color: black;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 10px;
    font-weight: bold;
    pointer-events: none;
    color: orange;
  }
  &.left::after {
    content: "<";
    left: 4px;
  }
  &.right::after {
    content: ">";
    left: 10px;
  }
}

.DuckFactory {
  background-color: lightgreen;
}
