.Duck {
  background-color: darkgreen;
  outline: 2px double darkgreen;
  color: white;
  animation: none;

  &::before {
    content: "( )";
    position: absolute;
    font-size: larger;
    font-weight: bold;
    top: 6px;
    left: -15px;
    width: 100px;
    color: black;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 10px;
    color: orange;
    font-weight: bold;
    pointer-events: none;
  }
  &.left::after {
    content: "<";
    left: 4px;
  }
  &.right::after {
    content: ">";
    left: 10px;
  }
}

.DuckFactory {
  background-color: lightgreen;
}
