.Duck {
  font-size: smaller;
  cursor: crosshair;
  outline: 4px double transparent;

  &.left {
    background-color: navy;
    outline-color: purple;
    transform: rotate(-5deg);
  }
  &.right {
    background-color: darkgreen;
    outline-color: forestgreen;
    transform: rotate(5deg);
  }

  &::before {
    content: "( )";
    position: absolute;
    font-size: 21px;
    font-weight: bold;
    top: 3px;
    left: -24px;
    width: 74px;
    text-align: center;
    pointer-events: none;
    animation: flap 1s infinite linear;
    @keyframes flap {
      0%,
      100% {
        transform: rotateX(360deg);
      }
      50% {
        transform: rotateX(0deg);
      }
    }
  }
  &.left::before {
    color: purple;
  }
  &.right::before {
    color: black;
  }

  &::after {
    position: absolute;
    font-weight: bold;
    color: orange;
    pointer-events: none;
  }
  &.left::after {
    content: ">";
    bottom: 0px;
    left: -5px;
  }
  &.right::after {
    content: "<";
    bottom: 0px;
    left: 18px;
  }
}

.DuckFactory {
  outline: 2px dashed lightgreen;
}

.Grass {
  position: absolute;
  left: -25px;
  width: 550px;
  height: 20px;
  background-color: lawngreen;
  outline: 4px dashed greenyellow;
}
