.Game {
  font-family: "Press Start 2P", "Courier New", monospace;
  height: 750px;
  width: 500px;
  position: relative;
  padding: 2.5px;
  outline: 10px ridge black;
  border-radius: 5px;
  color: white;
  background-color: black;
  overflow: hidden;
}
