.Game {
  position: relative;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  text-shadow: 1px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  height: 750px;
  min-height: 750px;
  width: 500px;
  min-width: 500px;
  padding: 2.5px;
  color: white;
  background-color: black;

  .LargerBoldItalic {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
  }

  .emoji {
    vertical-align: bottom;
    font-style: normal;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: black;
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    opacity: 0.081;
  }
}

.Screen {
  overflow: hidden;
  outline: 10px ridge black;
  border-radius: 5px;
}
