.Jumpman {
  background: white;
  outline: 2px outset white;

  &.M {
    background-color: red;
    outline-color: blue;
  }

  &::before {
    content: "^";
    position: absolute;
    font-size: larger;
    font-weight: bold;
    top: -5px;
    left: 4.5px;
    color: red;
    pointer-events: none;
  }

  &::after {
    content: "..";
    position: absolute;
    top: -3px;
    color: black;
    font-weight: bold;
    pointer-events: none;
  }
  &.left::after {
    right: -3px;
  }
  &.right::after {
    left: 2px;
  }

  &.​ {
    outline: 2px outset brown;
    background: brown;
    outline-width: 7.5px;
    &::before {
      content: "!";
      transform: rotate(180deg);
      bottom: -10px;
    }
    &.left::before {
      left: -3px;
    }
    &.right::before {
      left: 3px;
    }
  }
}

.Game:has(.Player.Jumpman.​) {
  color: red;
}
