.Options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  background-color: black;
  opacity: 0.9;

  .Pause {
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 100px);
    padding: 50px;
  }

  .Option {
    margin: 25px 0;
    span {
      padding: 12.5px;
      cursor: pointer;
      font-weight: bold;
      font-style: italic;
    }
  }

  .Credits {
    position: absolute;
    bottom: 0;
  }
}

.Game:has(.Filters) {
  animation: game-flicker 0.1s infinite alternate;
  @keyframes game-flicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
      box-shadow: 0 0 50px #75fa6950;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
      box-shadow: 0 0 75px #ea36af50;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    opacity: 0.075;
    animation: screen-flicker 0.2s infinite alternate;
    @keyframes screen-flicker {
      100% {
        background-position: 50% 0, 60% 50%;
      }
    }
  }
}
