.Options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  background-color: black;
  opacity: 0.9;
  cursor: pointer;

  &::before {
    content: "PAUSE";
    font-size: larger;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }
}
