.Status {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
  }
}

.Points {
  font-size: smaller;
}
