.Jumpman.D {
  outline-color: #fc0;
  outline-width: 3px;

  &::before {
    color: #d00;
  }

  .deutschbox {
    display: block;
    top: -7px;
    left: -7px;
    z-index: 0;

    button {
      border: none;
      &:focus {
        outline: none;
      }
    }

    aside {
      top: 0;
      &.left {
        right: 100%;
      }
    }
  }
}

.DeutschBox {
  &::after {
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    border-radius: 100px;
    cursor: pointer;
  }
}

.Game:has(.Player.Jumpman.D) {
  color: #fc0;
  background-image: url("/assets/berlin.webp");
  background-repeat: no-repeat;
  background-color: black;
  background-size: auto 765px;
  background-position: right 94px top 0px;
}

.Block {
  &:has(.deutschbox .checked) {
    animation: walk 0.5s infinite linear;
  }

  &:has(.deutschbox .dechecked) {
    animation: shake 0.1s infinite linear;
  }

  &:has(.deutschbox .rechecked) {
    animation: spin 0.1s infinite linear;
  }
}
