.Jumpman.D {
  outline-color: #fc0;

  &::before {
    color: #d00;
  }

  .deutschbox {
    display: block;
    top: -7px;
    left: -7px;
    z-index: 0;

    button:focus {
      outline: none;
    }

    aside {
      top: 0;
      &.left {
        right: 100%;
      }
    }
  }
}

.DeutschBox {
  &::after {
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    border-radius: 100px;
    cursor: pointer;
    //outline: 1px solid red;
  }
}

.Game:has(.Player.Jumpman.D) {
  color: #fc0;
  background-image: url("/Berlin.png");
  background-size: 500px 770px;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
}

.Block {
  &:has(.deutschbox .checked) {
    animation: walk 0.5s infinite linear;
  }

  &:has(.deutschbox .dechecked) {
    animation: shake 0.1s infinite linear;
  }

  &:has(.deutschbox .rechecked) {
    animation: spin 0.1s infinite linear;
  }
}
