nav {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  .Download {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2vh;
    img {
      border-radius: 8px;
      border: 1px solid brown;
      width: 24px;
    }
    &::before {
      content: "+";
      position: absolute;
      top: -3px;
      left: -6px;
    }
  }

  .Restart::after {
    content: "*ONLINE";
    position: absolute;
    color: lime;
    font-size: 6px;
    margin: -6px 12px;
  }
}

footer {
  display: flex;
  gap: 2vh;
}

nav,
footer {
  .Button,
  .Download {
    font-size: 12px;
  }
  .Button {
    border-radius: 18px;
    padding: 6px 12px;
    text-decoration: none;
    background: white;
    color: black;
    cursor: pointer;
  }

  .Button:hover,
  img:hover {
    opacity: 0.81;
  }

  &.Offline {
    * {
      pointer-events: none;
      opacity: 0.5;
    }
    .Button {
      background: gray;
    }
    .Download {
      font-size: 50%;
      color: brown;
      &::before {
        display: none;
      }
    }
    .Restart::after {
      display: none;
    }
  }
}
