.Online {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2vh;
  font-size: 12px;
  img {
    border-radius: 8px;
    border: 1px solid brown;
    width: 24px;
  }
  &::before {
    content: "+";
    position: absolute;
    top: -3px;
    left: -6px;
  }
  &.Offline {
    filter: grayscale(100%);
    &::before {
      content: "";
    }
  }
}
