.Options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  background: black;
  opacity: 0.81;

  .Option {
    margin-top: 12.5px;
    span {
      padding: 12.5px;
      &.clickable {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .Paused {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 12.5px 0;
    font-size: larger;
    cursor: pointer;
  }

  .Credits {
    text-align: center;

    .emoji {
      padding: 0 12.5px;
    }

    .Date {
      position: relative;
      height: 24px;

      span {
        position: absolute;
        left: 33%;

        &:nth-child(1) {
          animation: date-flicker 2s infinite;
        }
        &:nth-child(2) {
          animation: date-flicker 2s infinite 1s;
        }
        @keyframes date-flicker {
          0%,
          100% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
        }
      }
    }
  }
}

.Game:has(.Filters) {
  animation: game-flicker 0.1s infinite alternate;
  @keyframes game-flicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
      box-shadow: 0 0 50px #75fa6950;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
      box-shadow: 0 0 75px #ea36af50;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    opacity: 0.075;
    animation: screen-flicker 0.2s infinite alternate;
    @keyframes screen-flicker {
      100% {
        background-position: 50% 0, 60% 50%;
      }
    }
  }
}

.Game:has(.Paused) {
  > .Block,
  > .Block::before,
  > .Block::after {
    animation-play-state: paused;
  }
}

.Game:has(.Debug) {
  > .Options {
    display: none;
  }
  > .Factory {
    display: block;
    opacity: 0.5;
  }
}

.Debug {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  span:hover {
    cursor: pointer;
  }
}
