.Options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  background: black;
  opacity: 0.9;
  .Toggles {
    display: flex;
    justify-content: space-between;
    margin: 12.5px 0;
    .Option {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      span {
        padding: 12.5px 0 12.5px 12.5px;
        &.Clickable {
          cursor: pointer;
        }
      }
    }
  }

  p,
  pre,
  .Paused,
  .Credits {
    opacity: 0.81;
    cursor: pointer;
  }

  .Paused {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    &::after {
      content: "PAUSE";
      position: relative;
      font-size: 50px;
      margin: 25px;
    }

    &:hover {
      font-weight: bold;
    }
  }

  .Credits {
    text-align: center;

    .emoji {
      padding: 0 12.5px;
    }

    .Date {
      position: relative;
      height: 24px;

      span {
        position: absolute;
        left: 33%;

        &:nth-child(1) {
          animation: date-flicker 2s infinite;
        }
        &:nth-child(2) {
          animation: date-flicker 2s infinite 1s;
        }
        @keyframes date-flicker {
          0%,
          100% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
        }
      }
    }
  }
}

.Game:has(.Filters) {
  animation: text-filter 0.1s infinite alternate;
  &::after {
    animation: grain-filter 0.1s infinite alternate;
  }
}
.Screen:has(.Filters) {
  animation: glow-filter 0.1s infinite alternate;
}

.Screen:has(.Reached) {
  animation: win 0.1s infinite alternate;
}
@keyframes win {
  from {
    transform: scale(1);
    outline-color: black;
  }
  to {
    transform: scale(0.99);
    outline-color: brown;
  }
}

@media only screen and (max-width: 630px) {
  .Game:has(.Filters) {
    animation-duration: 0.5;
    &::after {
      animation: none;
      background: none;
    }
  }
  .Screen:has(.Filters) {
    animation-duration: 0.5;
  }
}

@keyframes text-filter {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

@keyframes grain-filter {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}

@keyframes glow-filter {
  from {
    box-shadow: 0 0 50px #75fa6950;
  }
  to {
    box-shadow: 0 0 75px #ea36af50;
  }
}

.Game:has(.Paused) {
  > .Block,
  > .Block::before,
  > .Block::after {
    animation-play-state: paused;
  }
}

.Game:has(.Debug) {
  > .Status {
    display: none;
  }
  > .Options {
    display: none;
  }
  > .Factory {
    display: block;
    opacity: 0.5;
  }
}

.Debug {
  position: absolute;
  top: 0;
  opacity: 0.5;
  span:hover {
    cursor: pointer;
  }
}
