.PlayerSelect {
  position: relative;
  margin-bottom: 25px;

  .Completion {
    position: absolute;
    right: 5px;
    top: 0px;
  }

  .Players {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;

    .Block {
      position: relative;
      transform: scale(75%);
    }

    .Select {
      padding: 15px;
      cursor: pointer;
      &.Active {
        border-radius: 50px;
        background: #ffffff50;
      }
    }

    .Records {
      position: absolute;
      margin: 6px 3px;
      font-size: smaller;
    }
  }

  .Message {
    text-align: center;
  }
}
