.Status {
  display: flex;
  justify-content: space-between;

  span {
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}

.Display {
  display: flex;
  justify-content: center;

  .Header {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .Time,
  .Score {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1px;
  }

  .Header,
  .Points,
  .Message {
    font-size: smaller;
  }

  .Message {
    width: 100%;
    bottom: 75px;
    margin: 0 20px;
    font-style: italic;
  }
}
