.Status {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  span {
    font-weight: bold;
    cursor: pointer;
  }

  .Points {
    font-size: smaller;
  }

  .Message {
    width: 100%;
    bottom: 75px;
    margin: 0 20px;
    font-size: smaller;
    font-style: italic;
  }
}
