.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  .Content {
    display: flex;
    align-items: center;
    gap: 100px;

    .Manual {
      font-size: smaller;
      padding: 10px;
      border-radius: 15px;
      outline: 10px ridge brown;
      background-color: brown;
      width: 250px;

      p {
        margin: 0 0 18px 0;
        text-decoration: underline;
      }

      ul {
        list-style: none;
        margin: 0;
        padding-left: 5px;

        li {
          list-style: none;
          padding-left: 15px;
          height: 20px;
          position: relative;
          &::before {
            content: "■";
            position: absolute;
            top: -4px;
            left: -5px;
          }
        }
      }
    }
  }
}

.Game {
  zoom: 0.75;
}
.Manual {
  display: none;
}

@media only screen and (min-width: 630px) {
  .Game {
    zoom: 1.1;
  }
}

@media only screen and (min-width: 1200px) {
  .Manual {
    display: block;
    zoom: 0.8;
  }
}

@media only screen and (min-width: 1300px) {
  .Manual {
    zoom: 1;
  }
}

@media only screen and (min-width: 1500px) {
  .Manual {
    zoom: 1.25;
  }
}

@media only screen and (min-width: 1800px) {
  .Manual {
    zoom: 1.5;
  }
}

@media only screen and (min-width: 2000px) {
  .Manual {
    zoom: 1.75;
  }
}

@media only screen and (min-height: 1000px) {
  .Game {
    zoom: 1.25;
  }
}
