.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  h1 {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;
    align-items: center;
    span {
      font-size: 16px;
    }
    .dk {
      position: fixed;
      display: none;
      top: 25px;
      left: 25px;
      width: 12vw;
      max-width: 200px;
      opacity: 0.81;
      color: black;
      &:target {
        color: brown;
        display: block;
      }
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;

    aside {
      display: flex;
      flex-direction: column;
      gap: 4vw;

      .Manual {
        display: none;

        @media only screen and (min-width: 1280px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 18px 0;
          background-color: brown;
          outline: 10px ridge brown;
          border-radius: 5px;
          width: 22vw;
          font-size: 1vw;
          z-index: 1;
        }

        a {
          color: white;
          text-decoration: none;
          position: relative;
          &:hover {
            opacity: 0.81;
            &::before {
              position: absolute;
              content: "<";
              left: -1vw;
            }
            &::after {
              position: absolute;
              content: "/>";
              right: -2vw;
            }
          }
        }

        iframe {
          border: 0;
          outline: 4px inset white;
          height: 160px;
          width: 280px;
          margin: 25px 0px 5px 0px;
        }

        .Hint {
          position: absolute;
          font-family: "Nanum Pen Script", cursive;
          font-size: 1.5vw;
          color: darkblue;

          &.Gravity {
            margin: -9.8px 9.8px;
            transform: rotate(9.8deg);
          }
          &.Code {
            margin: -6px;
            transform: rotate(-9.8deg);
          }
          &.Player {
            margin: 3px 6px;
            line-height: 50%;
            transform: rotate(-4deg);
          }
        }

        .Download {
          position: relative;
          display: flex;
          align-items: center;
          font-size: smaller;
          gap: 1.25vw;
          img {
            border-radius: 12.5px;
          }
          &::after {
            content: "+";
            position: absolute;
            top: 0;
            opacity: 0.81;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: flex-end;
    gap: 18px;

    a:hover {
      opacity: 0.75;
    }

    .Button {
      border-radius: 24px;
      font-size: 12px;
      padding: 6px 12px;
      text-decoration: none;
      background-color: white;
      color: black;
    }
  }
}

.Game {
  zoom: 0.75;
  @media only screen and (min-width: 630px) {
    zoom: 1;
  }
  @media only screen and (min-height: 1000px) {
    zoom: 1.25;
  }
}
