.Game {
  outline: 5px ridge brown;
  background-color: black;
  position: relative;
}

.Jumpman {
  background-color: red;
  position: absolute;
}

.Barrel {
  background-color: orange;
  outline: 2px outset blue;
  position: absolute;
}

.BarrelFactory {
  position: absolute;
  outline: 2px inset blue;
}

.Pause {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.Block {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}
