html,
body {
  background: black;
  color: white;
  font-family: "Press Start 2P", monospace;
  margin: 0;
  overflow: hidden;
}

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
