.Joypad {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: goldenrod;
  outline: 1.5vw outset darkred;
  border-radius: 1vw;
  width: 81vw;
  padding: 3vw 6vw;

  * {
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
  }

  &.hidden {
    display: none;
  }

  button {
    border-width: 4px;
  }

  .dpad {
    display: grid;
    width: 90px;
    height: 90px;

    button,
    span {
      width: 30px;
      height: 30px;
      background: black;
      border-color: black;
    }

    button {
      color: gray;
      &.active {
        background: darkred;
        transform: scale(1.05);
      }
    }

    .left {
      grid-row-start: 2;
      grid-column-start: 1;
      &:active {
        border-style: outset;
      }
    }

    .up {
      grid-row-start: 1;
      grid-column-start: 2;
      &:active {
        border-style: outset;
      }
    }

    span {
      grid-row-start: 2;
      grid-column-start: 2;
    }

    .down {
      grid-row-start: 3;
      grid-column-start: 2;
      border-style: inset;
    }

    .right {
      grid-row-start: 2;
      grid-column-start: 3;
      border-style: inset;
    }
  }

  .start {
    position: relative;
    background: gray;
    border-color: black;
    border-radius: 25%;
    &::before {
      content: "START";
      color: black;
    }
  }

  .action {
    background: red;
    border-color: darkred;
    padding: 30px;
    border-radius: 50%;
  }
}
