.Joypad {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 10px outset darkred;
  border-radius: 8px;
  width: 333px;
  padding: 4px 16px;
  background: linear-gradient(
    45deg,
    darkgoldenrod,
    goldenrod,
    gold,
    goldenrod,
    darkgoldenrod
  );

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 1%,
      rgba(0, 0, 0, 0.1) 2%,
      rgba(0, 0, 0, 0.1) 3%
    );
    mix-blend-mode: overlay;
    opacity: 0.333;
    pointer-events: none;
  }

  &.hidden {
    display: none;
  }

  &.stored {
    height: 16px;
    background: darkred;
    opacity: 0.975;
    cursor: pointer;
    * {
      display: none;
    }
    .Joycable {
      display: block;
      outline-color: black;
      opacity: 0.81;
      &::after,
      &::before {
        display: none;
      }
    }
  }

  * {
    font-family: monospace;
    font-size: 12px;
    line-height: 12px;
  }

  span {
    text-align: center;
    cursor: pointer;
  }

  .dpad {
    display: grid;
    width: 99px;
    height: 99px;

    span {
      width: 33px;
      height: 33px;
      line-height: 33px;
      background: black;
      color: gray;
      box-shadow: 2px 2px dimgray;
      border: 0;
      outline: 0;
      border-radius: 4px;
      &.pressed {
        color: white;
      }
    }

    .left {
      grid-row-start: 2;
      grid-column-start: 1;
    }

    .up {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    .center {
      grid-row-start: 2;
      grid-column-start: 2;
    }

    .down {
      grid-row-start: 3;
      grid-column-start: 2;
    }

    .right {
      grid-row-start: 2;
      grid-column-start: 3;
    }

    &:has(.up.pressed) {
      transform: perspective(99px) translateY(-2px) rotateX(7deg);
    }

    &:has(.down.pressed) {
      transform: perspective(99px) translateY(2px) rotateX(-7deg);
    }

    &:has(.left.pressed) {
      transform: perspective(99px) translateX(-2px) rotateY(-7deg);
    }

    &:has(.right.pressed) {
      transform: perspective(99px) translateX(2px) rotateY(7deg);
    }
  }

  .option {
    border: 5px outset white;
    box-shadow: 2px 2px black;

    &:active {
      transform: translateY(2px);
      border-style: inset;
      box-shadow: 0 0;
    }

    &.start {
      background: gray;
      border-color: dimgray;
      border-radius: 25%;
      padding: 1px 4px;
      &::before {
        content: "START";
        color: black;
      }
    }

    &.action {
      background: red;
      border-color: darkred;
      padding: 30px;
      border-radius: 50%;
    }
  }
}

.Joycable {
  position: absolute;
  margin: 4px -8px;
  padding: 2px;
  outline: 2px solid darkred;
  border: 2px solid black;
  background: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 22px;
    background: black;
  }
  &::after {
    content: "P1";
    position: absolute;
    color: gold;
    margin: -7px 25px;
    outline: 1px solid black;
    padding: 3px;
    background: black;
  }
}
