.Barrel {
  background: orange;
  outline: 2px solid yellow;
  color: darkblue;
  animation: spin 2s infinite linear;

  &.left {
    animation-direction: reverse;
  }

  &.Falling {
    animation: spinDown 2s infinite linear;
    border-radius: 25% / 50%;

    &::after,
    &::before {
      display: none;
    }
  }

  &::before {
    content: ".";
    position: absolute;
    font-size: larger;
    top: 2px;
    left: 1px;
  }

  &::after {
    content: "\\";
    position: absolute;
    top: 2px;
    left: 9px;
  }
}

.BarrelFactory {
  transform: scale(3);
  filter: grayscale(81%);
  &::before {
    margin-left: -6px;
  }
  &::after {
    margin-top: 4px;
    margin-left: -5px;
    animation: factory 2s infinite linear;
  }
  @keyframes factory {
    from {
      content: "+-";
      color: yellow;
    }
    to {
      content: "-*";
      color: hotpink;
    }
  }
}

.Path {
  border-radius: 20%;
  background: aquamarine;
  outline: 2px dashed rgba(aquamarine, $alpha: 0.5);
  animation: water 2s forwards ease;
}

@keyframes water {
  from {
    transform: scale(0) scaleY(66%);
  }
  to {
    transform: scale(1.333) scaleY(66%) translateY(12px);
  }
}

.Curtain {
  outline: 8px outset darkred;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(
    90deg,
    red,
    darkred,
    red,
    darkred,
    red,
    darkred,
    red
  );

  &::before,
  &::after {
    color: gold;
    position: absolute;
    left: 0;
    margin: 5px 2.5px;
  }

  &::before {
    content: "~~~~~~";
    top: 0;
  }

  &::after {
    content: "~~DK~~";
    bottom: 0;
  }

  &.Rolled {
    &::before {
      display: none;
    }
  }
}

.Stack {
  display: flex;
  height: fit-content;
  flex-direction: column;
  .Barrel {
    position: relative;
    animation: none;
  }
}
