.Barrel {
  background: orange;
  outline: 2px solid yellow;
  color: darkblue;
  animation: spin 2s infinite linear;

  &.left {
    animation-direction: reverse;
  }

  &.Falling {
    animation: spinDown 2s infinite linear;
    border-radius: 33%;

    &::after,
    &::before {
      display: none;
    }
  }

  &::before {
    content: ".";
    position: absolute;
    font-size: larger;
    top: 2px;
    left: 1px;
  }

  &::after {
    content: "\\";
    position: absolute;
    top: 2px;
    left: 9px;
  }
}

.Curtain {
  outline: 4px outset darkred;
  background: linear-gradient(
    90deg,
    red,
    darkred,
    red,
    darkred,
    red,
    darkred,
    red
  );

  &::before {
    content: "~~~~~~";
    color: gold;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2.5px;
  }

  &::after {
    content: "~~DK~~";
    color: gold;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2.5px;
  }
}
