.Ladder {
  transform: translateY(-12.5px) scaleX(75%);
  background: repeating-linear-gradient(
    cyan 0,
    cyan 4px,
    transparent 4px,
    transparent 12px
  );
  outline: 1px solid rgba($color: cyan, $alpha: 0.81);
}

.Game:has(.Player.Jumpman.D) {
  .Ladder.Target {
    outline-color: #fc0;
    background: repeating-linear-gradient(
      #fc0 0,
      #fc0 4px,
      transparent 4px,
      transparent 12px
    );
  }
}

.Game:has(.Player.Jumpman.DH) {
  .Ladder.Target {
    outline-color: lawngreen;
    background: repeating-linear-gradient(
      lawngreen 0,
      lawngreen 4px,
      transparent 4px,
      transparent 12px
    );
  }
}
