$animation-settings: 3s linear 1s forwards;
$skew-amount: 1.981deg;
$scale: scaleY(50%);

.Platform {
  background-color: brown;
  outline: 4px dashed rgba(brown, 0.81);
  transform: $scale;
  &.Skew {
    &:nth-child(even) {
      animation: skewEven $animation-settings;
    }
    &:nth-child(odd) {
      animation: skewOdd $animation-settings;
    }
  }
}

@keyframes skewEven {
  0% {
    transform: $scale;
  }
  20%,
  60% {
    transform: $scale skewY($skew-amount * 2);
  }
  40%,
  80% {
    transform: $scale skewY(-$skew-amount * 2);
  }
  100% {
    transform: $scale skewY($skew-amount);
  }
}

@keyframes skewOdd {
  0% {
    transform: $scale;
  }
  20%,
  60% {
    transform: $scale skewY(-$skew-amount * 2);
  }
  40%,
  80% {
    transform: $scale skewY($skew-amount * 2);
  }
  100% {
    transform: $scale skewY(-$skew-amount);
  }
}
